{% extends 'resume/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Prince IBS - Project Details {% endblock %}
{% block description %} List of my portfolio projects {% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
End SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
End CSS blocks 
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
End CSS blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
    <div class="innerPageBannerCol">
        <div class="container">
            <div class="row g-4 g-md-3  align-items-center">
                <div class="col-md-6">
                    <div class="bannerContent">
                        <h1 class="xlTitle pb-md-3">{{ object.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="portfolioContentMain">
            <div class="row g-3 g-md-4 g-lg-5 portfolioRow">
                <div class="col-md-6 pColMain">
                    <div class="pCol"><a href="{{ p.slug }}">
                            <img src="{{ object.image.url }}" alt="..." class="pImg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="sectionSpaceSm">
        <div class="container">
            <p>{{ object.body|safe }}</p>
        </div>
    </div>
</section>
{% endblock %}
<!-- ================================
End Content
================================= -->