{% extends 'resume/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %} Password Reset {% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
End SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
End CSS blocks 
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
End CSS blocks
================================= -->

<!-- ================================
Start Content
================================= -->

{% block content %}
<h3>Password Reset successfully</h3>
<div class="container my-3 p-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="alert alert-info">
                    Your password has been set. You may go ahead and <a href="{% url 'resume:index' %}">Login Here</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

