{% load static %}

<!-- ================================
Start Footer
================================= -->
<footer>
<div class="footerCol">
    <div class="container">
    <ul class="socialCol">
        <li><a href="https://twitter.com/prince_ibs"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://linkedin.com/in/princeibs"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/princeibs"><img src="{% static 'images/github.png' %}" alt="..."></a></li>
        <li><a href="https://princeibs.hashnode.com"><img src="{% static 'images/hashnode.png' %}" alt="..."></a></li>
        <li><a href="https://dev.to/princeibs"><img src="{% static 'images/devto.png' %}" alt="..."></a></li>
    </ul>
    <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved</p>
    </div>
    </div>
</div>
</footer>
<!-- ================================
End Footer
================================= -->